@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  background: rgb(228,233,240);
  background: linear-gradient(90deg, rgba(228,233,240,1) 0%, rgba(228,233,240,1) 0%, rgba(230,242,251,1) 20%, rgba(161,193,238,1) 65%);
  font-family: "Montserrat", sans-serif;
}

/* NAV BAR */
#menuToggle{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span{
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #77787B;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
  display: block;
}

#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}

#menu{
  position: fixed;
  height: 100%;
  overflow: scroll;
  width: 20%;
  padding-top: 7%;
  margin: -90px 0 0 -90px;
  -webkit-box-shadow: 10px 2px 44px -14px rgba(159,163,171,1);
  -moz-box-shadow: 10px 2px 44px -14px rgba(159,163,171,1);
  box-shadow: 10px 2px 44px -14px rgba(159,163,171,1);
  background: #77787B;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}


#menuToggle input:checked ~ ul{
  transform: none;
}

.left {
  position: fixed;
  width: 20%;
  overflow: hidden;
  height: 100%;
  z-index: 10;
}

.right {
  position: relative;
  width: 100%;
  overflow: scroll;
  height: 100%;
  margin: 0px;
}

.main-nav-link{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: white;
  width: 100%;
}

.main-nav-link:hover {
  background-color: white;
  color: #5e5b55;
}

.active {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  background-color: white;
  color: #5e5b55;
  width: 100%;
}

.logo-nav-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  background-color: #77787B;
  color: white;
  width: 100%;
}

.logo {
  display: block;
  color: white;
  width: 110px;
  height: 110px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid white;
  border-radius: 0px;
  background-color: #5e5b55;
}

/* HOME PAGE */
.home-page-div{
  width: 50%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8%;
  padding: 5%;
  background-color: white;
  -webkit-box-shadow: 10px 2px 44px -14px rgba(159,163,171,1);
  -moz-box-shadow: 10px 2px 44px -14px rgba(159,163,171,1);
  box-shadow: 10px 2px 44px -14px rgba(159,163,171,1);
}

.socials {
  margin-top: 2%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.social-icons {
  height: 40px;
  margin-left: 1%;
  margin-right: 1%;
  color: #2a4570;
}

.interests {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2%;
  font-size: 18px;
  color: #5e5b55;
  margin-bottom: 0px;
}

/* HEADER STYLING*/
.header {
  text-align: center;
  font-size: 60px;
  color: #2a4570;
  margin-top: 2%;
  margin-bottom: 2%;
}

.sub-header {
  text-align: center;
  font-size: 30px;
  color: #5e5b55;
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
}

/* ABOUT ME PAGE*/
.about-me-description {
  text-align: justify;
  z-index: 1;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  margin-bottom: 10%;
  font-size: 33px;
  background-color: white;
  padding: 30px;
  color: #5e5b55;
  box-shadow: -11px 13px 52px 0px rgba(0,0,0,0.21);
  font-family: "Montserrat", sans-serif;
}

.about-text {
  margin: 2%;
  text-align: justify;
  font-size: 18px;
}

h2.about-text {
  padding-top: 4%;
  margin: 2%;
  text-align: justify;
  font-size: 25px;
}

.portfolio-links{
  padding: 10px;
  text-decoration: none;
}

.icons {
  height: 50px;
  width: 50px;
  display: inline-block;
  text-align: center;
}

#wrapper {
  padding: 1%;
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 8%;
}

#skills-wrapper {
  margin-left: auto;
  margin-right: auto;
  text-align: c
}

.rounded {
  border-radius: .5em;
}

/* EDUCATION PAGE */
.education-listing {
  margin: 4%;
  border: 0.5px dotted black;
  padding: 2%;
  text-align: left;
}

.education-header {
  margin: 0px;
  font-size: 30px;
  text-align: left;
  color: #2a4570;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
  width: 70%;
  text-align: left;
}

.education-subheader {
  margin: 0px;
  text-align: left;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.education-right p{
  float: right;
  text-align: right;
  display: inline;
  width: 25%;
  font-size: 20px;
  margin-top: 0px;
  margin-right: 1%;
}

p.education-text {
  text-align: left;
  font-size: 18px;
}

/* EXPERIENCE PAGE */
.education-header a {
  color: #2a4570;
  text-decoration: none;
  font-size: 40px;
}

.education-header a:hover {
  font-size: 40px;
  color: #5c94ed;
  margin: 0px;
  text-decoration: underline;
}

.bullet {
  padding-right: 10px;
}

/* PROJECTS PAGE*/
.project-card {
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 5%;
  margin-top:4%;
  margin-bottom:5%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 100%;
  box-shadow: -11px 13px 52px 0px rgba(0,0,0,0.21);
  font-family: "Montserrat", sans-serif;
  text-align: left;

}

.project-header {
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 6%;
  /* margin-bottom: 2%; */
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 100%;
  box-shadow: -11px 13px 52px 0px rgba(0,0,0,0.21);
  font-family: "Montserrat", sans-serif;
}

.project-card-header {
  font-size: 50px;
  color: #2a4570;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.project-card-header a {
  font-size: 50px;
  color: #2a4570;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.project-card-header a:hover {
  font-size: 50px;
  color: #2a4570;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.project-card-links a {
  font-size: 30px;
  color: #5c94ed;
  margin: 0px;
  text-decoration: none;
}

.project-card-links a:hover {
  font-size: 30px;
  color: #2a4570;
  margin: 0px;
  text-decoration: underline;
}

.seperator {
  padding: 5px;
  font-size: 35px;
  font-weight: lighter;
  color: #5e5b55;
}

.project-card-sub-header {
  font-size: 25px;
  font-weight: bold;
  /* background-color:#5e5b55; */
  color: #2a4570;
  border-bottom: 1px dotted #5e5b55;
  text-transform: uppercase;
  margin-left: 5%;
  margin-top: 0px;
}

.table {
  width: 45%;
  position: relative;
  display: inline-block;
  padding-left: 2%;
}

li {
   padding-top: 10px;
}

.technologies {
  margin-left: 5%;
  margin-bottom: 5%;
  font-size: 18px;
}

#technologies-list {
  padding-left: 5%;
  width: 40%;
}

#functionality-list li{
  width: 100%;
  padding-top: 10px;
}

p.description {
  font-size: 18px;
  width: 100%;
  padding-bottom: 1%;
}

li {
  font-size: 18px;
  width: 100%;
  margin-right: 0px;
}


.image-gallery {
  float: left;
  position: relative;
  width: 50%;
  display: inline-block;
  margin-top: 1%;
  margin-right: 3%;
  box-shadow: -11px 13px 52px 0px rgba(0,0,0,0.21);
  background-color: none;
}

button.aws-sld__controls  {
  background-color: white;
}

.slider {
  padding: 10px;
  background-color: rgba(0,0,0,0.8);
}


/* CONTACT PAGE*/

.contact-form {
  background-color: white;
  margin-left: auto;
  margin-top: 6%;
  margin-bottom: 5%;
  margin-right: auto;
  padding-top: 2%;
  padding-bottom: 3%;
  width: 70%;
  text-align: center;
  box-shadow: -11px 13px 52px 0px rgba(0,0,0,0.21);
  font-family: "Montserrat", sans-serif;
}

.contact-form input {
  width: 80%;
  font-size: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;

}

.contact-form textarea {
  width: 80%;
  font-size: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}

.contact-form a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;
  background-color: #2a4570;
  color: white;
  padding: 1%;
  border-radius: 5px;
  border: 1px solid #5e5b55;
}

.contact-form a:hover {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;
  background-color: black;
  color: white;
  padding: 1%;
  border-radius: 5px;
  border: 1px solid #5e5b55;
}

.contact-sub-header {
  font-size: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3%;
  padding-right: 3%;
  color: #5e5b55;
  margin-bottom: 4%;
  text-align: center;
  /* text-decoration: underline; */
}


/* media query for responsive design*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  #menuToggle{
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 20;
    -webkit-user-select: none;
    user-select: none;
    background-color: #2a4570;
    width: 100%;
    height: 50px;
    padding-top: 30px;
    padding-left: 20px;
    box-shadow: -11px 13px 52px 0px rgba(0,0,0,0.21);
  }

  #menu{
    position: fixed;
    overflow: scroll;
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    left: 90px;
    width: 100%;
    z-index: 0;
    margin-top: 5%;
    -webkit-box-shadow: 10px 2px 44px -14px rgba(159,163,171,1);
    -moz-box-shadow: 10px 2px 44px -14px rgba(159,163,171,1);
    box-shadow: 10px 2px 44px -14px rgba(159,163,171,1);
    background: #77787B;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 20px;
    left: 10px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }

  .main-nav-link{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: white;
    width: 100%;
    margin-left: 0px;
  }

  .active {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    background-color: white;
    color: #5e5b55;
    width: 100%;
  }

  .logo-nav-link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    background-color: #77787B;
    color: white;
    width: 100%;
  }

  .left {
    position: fixed;
    width: 100%;
    overflow: hidden;
    height: 100%;
    z-index: 10;
  }

  .right {
    position: relative;
    width: 100%;
    overflow: scroll;
    height: 100%;
    margin-top: 20%;
  }

  .home-page-div{
    width: 70%;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8%;
    padding: 5%;
    background-color: white;
    -webkit-box-shadow: 10px 2px 44px -14px rgba(159,163,171,1);
    -moz-box-shadow: 10px 2px 44px -14px rgba(159,163,171,1);
    box-shadow: 10px 2px 44px -14px rgba(159,163,171,1);
  }

  .header {
    margin: 8%;
    font-size: 40px;
  }

  .sub-header {
    margin: 5%;
    font-size: 20px;
  }

  .interests {
    font-size: 15px;
    margin-top: 10%;
    margin-bottom: 10%;

  }

  .seperator {
    font-size: 18px;
    font-weight: bolder;
  }

  .social-icons {
    margin-left: 5%;
  }

}
