.about-me-image {
  float: right;
  display: inline;
  margin: 2%;
}

.about-me-description {
  float: left;
  display: inline;
  width: 50%;
  margin: 2%;
}

.header {
  text-align: center;
  font-size: 80px;
}
