/* HOME PAGE */
.home-page-div{
  border: 1px solid black;
  margin: 10%;
  padding: 3%;
}

/* HEADER STYLING*/
.header {
  text-align: center;
  font-size: 80px;
}

.sub-header {
  text-align: center;
  font-size: 50px;
}


/* ABOUT ME PAGE*/
.about-me-image {
  float: right;
  display: inline;
  margin: 2%;
}

.about-me-description {
  float: left;
  display: inline;
  width: 50%;
  margin: 2%;
}
